@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
  font-family: 'Poppins', sans-serif;
}


header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    height: 93px;
    width: 100%;
    /* box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); */
    position:fixed;
    transition: 0.6s;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 42px;
    padding-right: 223px;
    z-index: 100000;
} 


header.sticky{
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 42px;
    padding-right: 223px;
    background: #10a8e5;
}

header .logo{
    position: relative;
    padding-top: 6px;
    text-decoration: none;
    transition: 0.6s;
}

header ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    align-items: center;
    justify-content: space-between;
}

header ul li{
    position: relative;
    list-style: none;
}

header ul li a{
    position: relative;
    text-decoration: none;
    color: #fff;
    letter-spacing: 0px;
    font-weight: 700;
    transition: 0.6s;
}

header ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #fff;
    position: absolute;
    left: 0;
    bottom: -6px;
    
}

header ul li:hover::after{
    width: 100%;
}

.banner{
    width: 100%;
    height: 848px;
    background: url(foto/cerita.png);
    background-size: cover;
}

header.sticky .logo,
header.sticky ul li a{
    color: #fff;
}

.nav-boxing{
    margin-right: -133px;
    width: 1000px;
    height: 30px;
}


/* search */
.container .input{
	border: 0;
	outline: none;
	color: #8b7d77;
    margin-top: 0px;
    margin-left: 56px;
}

.search_wrap{
	width: 200px;
	margin:  auto;
}

.search_wrap .search_box{
	position: relative;
	width: 200px;
	height: 25px;
}

.search_wrap .search_box .input{
    font-family: 'Poppins', sans-serif;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 1px 10px;
	border-radius: 3px;
	font-size: 14px;
    font-style: normal;
    font-weight: 300;
}

.search_wrap .search_box .btn.btn_common .fas{
    margin-left: 143px;
	position: absolute;
	top: 50%;
	left: 48%;
	transform: translate(-50%,-50%);
	color: #646464;
	font-size: 12px;
    cursor: pointer;
    
}

.search_wrap.search_wrap_3 .search_box .input{
	padding-right: 30px;
}

.search_wrap.search_wrap_3 .search_box .input{
	border-radius: 50px;
}

.search_wrap.search_wrap_3 .search_box .btn{
	right: 0px;
	border-radius: 50%;
}
/* search end */



/* tulisan diatas bg */
.box-mari-peduli{
    margin-bottom: 88px;
    width: 830px;
    height: 386px;
    background: rgba(71, 73, 91, 0.67);
    margin: auto;
    margin-top: -196px;
    filter: drop-shadow(0px 0px 25px rgba(50, 42, 142, 0.42));
    }
    
    .judul-peduli{
        color: #FFF;
        text-align: center;
        text-shadow: 0px 0px 25px 0px #000;
        font-family: Poppins;
        font-size: 64px;
        font-style: normal;
        font-weight: 800;
        line-height: 98.5%; /* 63.04px */
        padding-top: 46px;
    }
    
    .box-isi-peduli{
        width: 757px;
        height: 190px;
        margin-left: 32px;
        margin-top: 18px;
    }
    
    .isi-peduli{
        color: #FFF;
        text-align: center;
        text-shadow: 0px 0px 24px 0px #000;
        font-family: Poppins;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 209.5%; /* 33.52px */
    }


.last-box{
    width: 1172px;
    height: 1029px;
    margin-top: 88px;
    margin-left: auto;
    margin-right: auto;   
}

.judul-last{
    color: #000;
    text-align: center;
    font-family: Poppins;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.box-card-last{
    width: 1172px;
    height: 452px;
    margin-top: 55px;
    justify-content: space-between;
    display: flex;
}

.box-card-last1{
    filter: drop-shadow(0px 0px 5px rgba(50, 42, 142, 0.42));
    background-color: #FFF;
    width: 566px;
    height: 452px;
    flex-shrink: 0;
    border-radius: 8px;
    
}

.box-isi{
    margin: auto;
    width: 505px;
    height: 167px;
    flex-shrink: 0;
}


.judul-card-last{
    color: #000;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.tanggal-card-last{
    margin-top: 4px;
    color: #B1B1B1;
    font-family: Poppins;
    font-size: 10px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.isi-card-last{
    margin-top: 15px;
    color: #000;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


/* button */
.button-2 button{
    margin-left: 30px;
    margin-top: 10px;
    width: 162px;
    height: 32px;
    color: #F0F8FF;
    font-family: Poppins;
    font-size: 11px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    border: 1px solid #8ABFFF;
    border-radius: 6px;
    position: relative;
    color: #fff;
    text-decoration: none;
    transition: 0.3s ease all;
    z-index: 1;
    background-color: #8ABFFF;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;

}

.button-2 button::before{
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: '';
    background-color: #fff;
    z-index: -1;
    border: 3px solid #8ABFFF;
    border-radius: 6px;
    border: 1px solid #fff;
}

.button-2 button:hover, button:focus{
    color: #8ABFFF;
}

.button-2 button:hover::before, button:focus::before{
    transition: transform 0.7s ease;
    left: 0;
    right: 0;
    opacity: 1;
}

.button-2 button:active{
    transform: scale(0.9);
}


/* NEXT */
.pagination ul{
    margin: auto;
    margin-top: 60px;
    margin-bottom: 10px;
    width: 478px;
    display: flex;
    flex-wrap: wrap;
    background: #fff;
    padding: 8px;
    border-radius: 50px;
  }
  .pagination ul li{
    color: #10a8e5;
    list-style: none;
    line-height: 45px;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    user-select: none;
    transition: all 0.3s ease;
  }
  .pagination ul li.numb{
    list-style: none;
    height: 45px;
    width: 45px;
    margin: 0 3px;
    line-height: 45px;
    border-radius: 50%;
  }
  .pagination ul li.numb.first{
    margin: 0px 3px 0 -5px;
  }
  .pagination ul li.numb.last{
    margin: 0px -5px 0 3px;
  }
  .pagination ul li.dots{
    font-size: 22px;
    cursor: default;
  }
  .pagination ul li.btn{
    padding: 0 20px;
    border-radius: 50px;
  }
  .pagination li.active,
  .pagination ul li.numb:hover,
  .pagination ul li:first-child:hover,
  .pagination ul li:last-child:hover{
    color: #fff;
    background: #10a8e5;
  }
  

 /* footer */

footer {
    position: fixed;
    bottom: 0;
}

@media (max-height:800px) {
    footer {
        position: static;
    }
    header {
        padding-top: 40px;
    }
}

.footer-distributed {
    background-color: #10a8e5;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 50px 50px 60px 50px;
    margin-top: 80px;
}

.footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
    width: 30%;
}

.footer-distributed h3 {
    color: #ffffff;
    font: normal 36px 'Cookie', cursive;
    margin: 0;
}


.footer-distributed h3 span {
    color: #e0ac1c;
}

/* Footer links */

.footer-distributed .footer-links {
    color: #ffffff;
    margin: 20px 0 12px;
}

.footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
}

.footer-distributed .footer-company-name {
    color: #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center {
    width: 35%;
}

.footer-distributed .footer-center i {
    background-color: #10a8e5;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
}

.footer-distributed .footer-center p {
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin: 0;
}

.footer-distributed .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

.footer-distributed .footer-center p a {
    color: #fff;
    text-decoration: none;
}

/* Footer Right */

.footer-distributed .footer-right {
    width: 30%;
}

.footer-distributed .footer-company-about {
    line-height: 20px;
    color: #fff;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-about span {
    display: block;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distributed .footer-icons {
    margin-top: 25px;
}

.footer-distributed .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #10a8e5;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
}

@media (max-width: 880px) {
    .footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }
    .footer-distributed .footer-center i {
        margin-left: 0;
    }
}       